@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #5701ff;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f3f5f8;
}

a {
  text-decoration: none;
}

/* Code Mirror style  */
.codemirror_wrapper {
  width: max-content;
  max-width: 100%;
}

.CodeMirror {
  border-radius: 5px;
  padding: 2rem;
  font-size: 1rem;
  font-family: "Fira Code", monospace;
  box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.4);
}

/* Removing style from Material UI Select  */
.MuiOutlinedInput-notchedOutline {
  border: 0 !important;
}
